
<div class="container">
        <div class="table-wrapper">			
            <div class="table-title">
                <div class="row">
					<div class="col-sm-6">
						<h2>Movie <b>Details</b></h2>
					</div>
                    <div class="col-sm-6">
                        <div class="search-box">
							<div class="input-group">								
								<input type="text" id="search" class="form-control" placeholder="Search by Name">
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width: 22%;">Name</th>
                        <th style="width: 22%;">Release Date</th>
                        <th>Vote Average</th>
                        <th>Popularity</th>
                        <th>Genre</th>
                        <th>Watched</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.results">
                            <td>{{item.id}}</td>
                            <td><a href="#"><img src="/examples/images/avatar/1.jpg" class="avatar" alt="Avatar">{{item.title}}</a></td>
                            <td>{{item.release_date}}</td>       
                            <td>{{item.vote_average}}</td>
                            <td>{{item.popularity}}</td>
                            <td>{{item.genre_ids}}</td>
						    <td><span class="status text-success">&bull;</span>Yes</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination" id="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item active"><a href="" class="page-link">1</a></li>
                    <li class="page-item"><a href="" class="page-link">2</a></li>
                    <li class="page-item"><a href="" class="page-link">3</a></li>
                    <li class="page-item"><a href="" class="page-link">4</a></li>
                    <li class="page-item"><a href="" class="page-link">5</a></li>
                    <li class="page-item"><a href="" class="page-link">Next</a></li>
                </ul>
           </div>
        </div>
    </div> 