
<div class="container">
        <p style="float:right;margin-top:10px;">Hi vamsi, not you?&nbsp<a href="" ng-click="logout()">logout</a></p>		
        <div class="table-wrapper">	
               
            <div class="table-title">
                <div class="row">
					<div class="col-sm-6">
                        <h2>Movie <b>Details</b></h2>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="search-box">
                              
                            <div class="input-group">								
                                <input type="text" ng-model="searchTerm" id="search" class="form-control" placeholder="Search by Name">
                            </div>
                            
                        </div>
                        
                    </div>
                    <a  class="btn btn-info btn-lg" ng-click="reload()">
                            <span class="glyphicon glyphicon-refresh"></span>&nbspRefresh
                        </a>
                    
                  
                </div>
               
               
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Release Date</th>
                        <th>Vote Average</th>
                        <th>Popularity</th>
                        <th>Genre</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.results | filter:searchTerm">
                            <td>{{item.id}}</td>
                            <td><a href=""><img src="http://image.tmdb.org/t/p/w45/{{item.poster_path}}" class="avatar" alt="Avatar"><span>{{item.title}}</span></a></td>
                            <td>{{item.release_date}}</td>       
                            <td>{{item.vote_average}}</td>
                            <td>{{item.popularity}}</td>
                            <td>{{item.genre_ids}}</td>
						    
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div> 